/*
* MF Validation
*/

$rd-validation-color: #fc745e;

.mfValidation {
  pointer-events: none;
  position: absolute;
  top: 0;
  padding-left: nth($input-padding, 2);
  left: 0;
  color: $rd-validation-color;
  font-weight: $input-font-weight;
  font-size: 10px;
  line-height: 20px;
  opacity: 0;
  visibility: hidden;
  z-index: 998;
  transition: .3s all ease;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  &.hide, &.valid {
    opacity: 0;
    visibility: hidden;
  }

  &.warn {
    color: orange;
  }
}
