<section class="bg-contrast text-md-left well-before-md">
  <div class="container">
    <div class="row row-md-middle">
      <div class="col-md-6 inset-6">
        <h2>О фестивале</h2>
        <p>
          В 2016 году инициативная группа товарищей по несчастью под названием Stance решила, что надо бы собрать тематическую тусу. Так появилась идея провести мероприятие под названием «Шишки».
          <br /><br />
          Изначально запланированное, как дружеская тусовка, событие немного переросло свой изначальный формат и получился небольшой, но очень дружный фестиваль. По итогам первых «Шишек» было принято решение сделать мероприятие ежегодным!
          <br /><br />
          «Шишки 2017» состоятся 12-13 августа! Приглашаем участников и зрителей!
        </p>
      </div>
      <div class="col-md-6 inset-6">
        <div class="iframe-container">
          <iframe src="//www.youtube.com/embed/4wCyMwg-x6I?controls=0&amp;showinfo=0"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
