<section class="bg-contrast text-md-left well-before-md">
  <div class="container">
    <div class="row row-md-middle">
      <div class="col-md-6 inset-6">
        <h2>Шишки 2017</h2>
        <p>Уважаемые друзья, посовещавшись команда организаторов определила формат события. Планируется 2х дневная туса на одной из баз отдыха рядом с Красноярском.</p>
        <br />
        <p>Мы хотим показать лучших представителей правильной тютнинг-культуры, поэтому отбор будет довольно строгим.</p>
        <br />
        <div class="text-center">
          <a href="https://vk.com/shishki17" class="btn btn-md btn-secondary">Группа вконтакте</a>
        </div>
      </div>
      <div class="col-md-6 inset-6">
        <div class="iframe-container">
          <iframe src="//www.youtube.com/embed/4wCyMwg-x6I?controls=0&amp;showinfo=0"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
