<section class="bg-image set-relative" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/page-call2action-intro_img01.jpg); background-size: cover; background-position: center center;">
  <div class="container-fluid">
    <div class="nav-wrap-absolute">
      <div class="row row-xs-justify flow-offset-2">
        <div class="col-xs-3 text-xs-left">
          <a href="/" class="brand text-xs-left"><img src="images/logo.png" /></a>
        </div>
        <div class="col-xs-8 text-xs-right">
          <div class="inline-list inline-list-xs hidden visible-xs-inline-block">
            <div><a href="https://vk.com/shishki17" class="icon icon-xs icon-default fa-vk" style="background-color: #45668e"></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-xs-middle well-cover well-md">
      <div class="col-xs-12">
        <h1>Первый сибирский стенс-фестиваль</h1>
        <h2>Красноярск, 12-13 Августа</h2>
        <div class="btn-group">
          <a href="#" class="btn btn-md btn-primary">Принять участие</a>
          <!--<a href="#" class="btn btn-md btn-default btn-default--mod-1">Забронировать отель</a>-->
        </div>
      </div>
    </div>
  </div>
</section>
