<section class="well-sm bg-contrast">
    <div class="container">
        <h2>Забронировать отель</h2>
        <h6>Выберите интересующий вас вариант</h6>

        <div class="row text-md-left flow-offset-1 text-left text-md-center text-lg-left">

            <div class="col-md-6 col-sm-middle">
                <div class="pricing-box-item bg-default--variant-1">
                    <div class="border-left inset-2 border-color-secondary-2">
                        <h4>Гостиница</h4>
                        <div class="price-inline text-secondary-2">
                            <span class="price__value">1200 ₽</span>
                            <span class="price__title">/сутки</span>
                        </div>
                        <div class="marked-list">
                          <div><span class="icon icon-md material-icons-check"></span><span class="text">1-местные номера</span></div>
                          <div><span class="icon icon-md material-icons-check"></span><span class="text">2-местные номера</span></div>
                          <div><span class="icon icon-md material-icons-check"></span><span class="text">3-местные номера</span></div>
                          <div><span class="icon icon-md material-icons-check"></span><span class="text">2х-местные VIP номера</span></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-6 col-sm-middle">
                <div class="pricing-box-item bg-default--variant-1">
                    <div class="border-left inset-2 border-color-secondary">
                        <h4>SPA-отель</h4>
                        <div class="price-inline text-secondary">
                          <span class="price__value">800 ₽</span>
                          <span class="price__title">/сутки</span>
                        </div>
                        <div class="marked-list">
                          <div><span class="icon icon-md material-icons-check"></span><span class="text">2-местные номера</span></div>
                          <div><span class="icon icon-md material-icons-check"></span><span class="text">3-местные номера</span></div>
                          <div><span class="icon icon-md material-icons-check"></span><span class="text">5-местные номера</span></div>
                          <div><span class="icon icon-md material-icons-check"></span><span class="text">8-местный номер</span></div>
                          <div><span class="icon icon-md material-icons-check"></span><span class="text">2х-местные VIP номера</span></div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>
