<section class="well-sm bg-contrast">
    <h2>Карта проезда</h2>
    <h6>Сибирская Венеция находится в 20 км от Красноярска в сторону г. Сосновоборска</h6>
    <a href="https://yandex.ru/maps/?um=constructor%3A86982ee748cb39e695ae5b9b262d40f751f7aec71e073266ad58c21f450dca2e&source=constructorLink" class="btn btn-md btn-primary" target="_blank">Открыть карту в новом окне</a>
</section>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A86982ee748cb39e695ae5b9b262d40f751f7aec71e073266ad58c21f450dca2e&amp;width=100%25&amp;height=617&amp;lang=ru_RU&amp;scroll=true"></script>
